<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.wisdom.common.mapper.PermissionMapper">
<cache />
<resultMap type="com.wisdom.common.model.Permission" id="Permission">  
<result property="id" column="id"/>  
<result property="name" column="name"/>  
<result property="invoke_name" column="invoke_name"/>  
</resultMap>
 <insert id="addPermission" parameterType="String">
insert into permission(name,invoke_name)
values(#{name},#{invoke_name})
</insert>
<delete id="deletePermission" parameterType="String">    
     delete from  permission where name=#{name}
</delete>
<delete id="deletePermissionFromRoles" parameterType="Integer">
	delete from role_permission where permission_id=#{permission_id}
</delete>
  <update id="updatePermission" parameterType="String">    
       UPDATE permission   
            SET name = #{name},     
                invoke_name=#{invoke_name}
         WHERE id = #{id};  
    </update> 
    <select id="getAllPermission" parameterType="String" resultType="Permission">  
        select * from permission 
    </select>  
     <select id="getPermissionByName" parameterType="String" resultType="Permission">  
        select * from permission where name=#{name}
    </select>  
    <select id="getPermissionByRole" parameterType="String" resultType="Permission">  
        select p.id as id, p.name as name, p.invoke_name as invoke_name from role r left join role_permission  c on r.id=c.role_id left join permission p on c.permission_id=p.id 
        where r.name=#{name}
    </select>
    <select id="getPermissionsByUser" parameterType="Integer" resultType="Permission">
    	select p.id as id, p.name as name, p.invoke_name as invoke_name
    	from user u left join user_role ur on u.id = ur.user_id
    	right join role r on ur.role_id = r.id
    	right join role_permission rp on r.id = rp.role_id
    	right join permission p on rp.permission_id = p.id
    	where u.id=#{uid}
    </select>
</mapper>