<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.wisdom.common.mapper.PermissionMapper">
<cache />
<resultMap type="com.wisdom.common.model.Permission" id="Permission">  
<result property="id" column="id"/>  
<result property="name" column="name"/>  
<result property="invoke_name" column="invoke_name"/>  
</resultMap>
 <insert id="addPermission" parameterType="String">
insert into permission(name,invoke_name)
values(#{name},#{invoke_name})
</insert>
<delete id="deletePermission" parameterType="String">    
     delete from  permission where name=#{name}
</delete>  
  <update id="updatePermission" parameterType="String">    
       UPDATE Permission   
            SET id = #{id},     
                invoke_name=#{invoke_name},
         WHERE name = #{name};  
    </update> 
    <select id="selectAllPermission" parameterType="String" resultType="Permission">  
        select * from Permission 
    </select>  
     <select id="selectPermissionByName" parameterType="String" resultType="Permission">  
        select * from Permission where name=#{name}
    </select>  
</mapper>