<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.wisdom.common.mapper.RoleMapper">
<cache />
<resultMap type="com.wisdom.common.model.Role" id="Role">  
<result property="id" column="id"/>  
<result property="name" column="name"/>    
</resultMap>


<resultMap type="com.wisdom.common.model.RolePermissions" id="RolePermissions">
<result property="id" column="id"/>  
<result property="name" column="name"/>
<collection property="permissions" ofType="Permission" resultMap="PermissionResult">
</collection>   	
</resultMap>
<resultMap type="Permission" id="PermissionResult">
    <id property='id' column='pid'/>
    <result property='name' column='pname'/>
    <result property='invoke_name' column='invoke_name'/>
</resultMap>

 <insert id="addRole" parameterType="String">
insert into role(name)
values(#{name})
</insert>

<select id="getAllRoles" resultType="Role">
select * from role
</select>

 <delete id="deleteRoleByName" parameterType="String">
delete from role where name=#{name}
</delete>
<delete id="deleteAllPermissionsOfRole" parameterType="Integer">
delete from role_permission where role_id=#{id}
</delete>

<select id="getRoleByName" parameterType="String" resultType="Role">
select * from role where name=#{name}
</select>

<update id="updateRole" parameterType="String">
update role set name=#{name} where id=#{id}
</update>

<insert id="addPermissionToRole" parameterType="String">
insert into role_permission(role_id, permission_id)
values((SELECT id FROM role WHERE name=#{r_name}),(SELECT id FROM permission WHERE name=#{p_name}))
</insert>

<delete id="removePermissionFromRole" parameterType="String">
delete from role_permission where permission_id=(SELECT id FROM permission WHERE name=#{p_name}) and role_id=(SELECT id FROM role WHERE name=#{r_name})
</delete>
<insert id="addRolePermission" parameterType="String">
INSERT INTO role_permission(role_id,permission_id)VALUES( (SELECT id FROM role WHERE name=#{r_name} ),( SELECT id FROM permission WHERE name=#{p_name}))
</insert>

<select id="getUserRoles" parameterType="Integer" resultType="Role">
	select r.id as id,
	r.name as name
	from user u left join user_role ur on u.id = ur.user_id 
	left join role r on ur.role_id = r.id
	where u.id=#{uid}
</select>

<select id="getAllRolesPermissions" resultType="RolePermissions">
	select r.id as id,
	r.name as name,
	p.id as pid,
	p.name as pname,
	p.invoke_name as invoke_name
	from role r left join role_permission rp on r.id = rp.role_id 
	left join permission p on rp.permission_id = p.id
</select>
</mapper>