<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.wisdom.common.mapper.SalesMapper">
<cache />
<resultMap type="com.wisdom.common.model.Sales" id="Sales">  
<result property="id" column="id"/>  
<result property="saller_account" column="saller_account"/>  
<result property="user_name" column="user_name"/>  
<result property="user_company" column="user_company"/>  
<result property="user_phone" column="user_phone"/>  
<result property="latest_comment" column="latest_comment"/>  
<result property="status" column="status"/>  
<result property="updated_time" column="updated_time"/>
<result property="accountant" column="accountant"/>    
</resultMap>

 <select id="getSales" resultType="Sales">
 	SELECT *
 	FROM sales
 </select>
 
 <insert id="addSalesRecord" parameterType="Sales" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
insert into sales(saller_account,user_name,user_company,user_phone,latest_comment,status,updated_time,accountant)
values(#{saller_account},#{user_name},#{user_company},#{user_phone}, #{latest_comment}, #{status},#{updated_time},#{accountant});
<selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
</insert>

  <update id="updateSales" parameterType="String">    
       UPDATE sales   
            SET accountant = #{accountant},     
                updated_time=#{updated_time},
                latest_comment=#{comment},
                status=#{status}
         WHERE id = #{id};  
    </update> 
</mapper>