<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>用户管理</title>
<link rel="stylesheet" type="text/css" href="/css/webcss/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="/js/webjs/jquery-1.11.3.js">
	</script>
<link rel="stylesheet" type="text/css" href="/css/webcss/example.css">
<script type="text/javascript" language="javascript" src="/js/webjs/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/webcss/global.css"/>
<link rel="stylesheet" type="text/css" href="/css/webcss/jquery-ui.css" />
<link rel="stylesheet" href="/css/webcss/jquery-ui.theme.css"/>
<script src="/js/webjs/jquery-ui.js"></script>
<script src="/js/webjs/select2.full.js"></script>
<link href="/css/webcss/select2.css" rel="stylesheet">
	<script src="/js/webjs/navigator.js"></script>
	<style>
	#add-user-btn{
		padding: 0.5em 1em;
	}
	
	.form-group {
    	margin: 1em 0em 1em 0em;
	}
	
	th{
		text-align: center;
	}
	</style>
</head>

<body>
<div class="nav">
  <div class="container"> <a href="/views/webviews/user/setting.html"><img src="/img/webimg/logo-white1.png"></a>
    <ul id="navigator" class="nav-header">
    </ul>
  </div>
</div>
<div class="nav-t">
  <div class="container">
    <ul class="nav-l">

      <li>
      <input  id="add-user-btn" type="button" class="btn btn-default" value="添加新用户" />
      </li>
    </ul>
    <ul class="table-l">
      <table id="example" class="display" cellspacing="0" width="100%">

        
      </table>
    </ul>
  </div>
</div>


<div id="add-user-dialog" style="display:none;">
<div class="form-group">
    <label for="inputAddName">用户姓名</label>
    <input type="textfield" class="form-control" id="inputAddName" placeholder="用户姓名">
  </div>
  <div class="form-group">
    <label for="inputAddCompany">所属公司</label>
    <input type="textfield" class="form-control" id="inputAddCompany" placeholder="所属公司">
  </div>
  <div class="form-group">
  <label for="add-role">用户类型</label>
  <select id="add-role" tabindex="" name="htmltest" multiple="multiple" style="width: 15em;">
      </select>
  </div>
</div>
<div id="edit-user-dialog" style="display:none;">

<div class="form-group">
    <label for="edit-name">用户姓名</label>
    <input type="textfield" class="form-control" id="edit-name" placeholder="用户姓名">
  </div>
  <div class="form-group">
    <label for="edit-company">所属公司</label>
    <input type="textfield" class="form-control" id="edit-company" placeholder="所属公司">
  </div>
    <div class="form-group">
    <label for="edit-company">邮箱地址</label>
    <input type="textfield" class="form-control" id="edit-mail" placeholder="邮箱地址">
  </div>
  <div class="form-group">
  <label for="edit-role">用户类型</label>
  <select id="edit-role" tabindex="" name="htmltest" multiple="multiple" style="width: 15em;">
      </select>
  </div>

</div>

<div class="footer">
  <div class="container">
    <p>沪ICP备15012848号 | COPYRIGHT © 2014-2015, BANGBANGZHANG, ALL RIGHTS RESERVED </p>
  </div>
</div>
</body>
<script>
function deleteRow(elem) {
    var tableObj = document.getElementById("example");
	var tr=elem.parentNode.parentNode;	
	tr.parentNode.removeChild(tr);
    
  }
</script>
<script>

	
	$(document).ready(function() {
		
		//For IE 8 and below
		if(!Array.prototype.indexOf) {
    Array.prototype.indexOf = function(needle) {
        for(var i = 0; i < this.length; i++) {
            if(this[i] === needle) {
                return i;
            }
        }
        return -1;
    };
}
		
		
		var invalid = false;
		var dataSet = [];
		var roles = [];
		var table;
		$.post('/user/getAllUsersWithWorkRecords', {},function(data){
			if (data.status == "nok"){


				if(!invalid){
					alert("您的访问超时，请重新登录！");		
					invalid = true;
					window.location.href="/views/frontviews/index.html";
				}

				return;
			}
			console.log(data);
			 dataSet  = $.parseJSON(data.data);
			    table = $('#example').DataTable({"sDom": '<"top" f>rt<"bottom" p><"clear">',
			    	data: dataSet,	
			    	"order": [[ 0, "desc" ]],
			    	"oLanguage": {
			    	    "sSearch": "查找 ",
			    	    oPaginate: {
			    	    	'sPrevious': "上一页",
			    	    	'sNext': "下一页",
			    	    }
			    	  },
			    	  pageLength:10,
			    	columns: [
			    	          	{title: "员工号"},
			    	            { title: "姓名" },
			    	            { title: "邮箱" },
			    	            { title: "公司" },
			    	            { title: "识别数" },
			    	            { title: "审核数" },
			    	            { title: "状态"},
			    	            { title: ""}

			    	        ]
			    });
			    
			    $("#example tbody").on("click", ".activate", function(){
				    var id = $(this).parent().parent().children().eq(0)[0].innerHTML;
				    var activateBox = $(this);
				    $.post("/user/activateUser", {"id": id}, function(){
				    	activateBox.parents('tr').children().eq(6)[0].innerHTML = "已激活";
				    	activateBox.attr("disabled", "disabled");
				    });
				    	
			    });
			    
			    $("#example tbody").on('click', '.delete', function (){
			    	var id = $(this).parent().parent().children().eq(0)[0].innerHTML;
			    	$.post("/user/deleteUser", {"uid": id}, function(data){
			    		console.log(data);
			    	});
			    	table
			        .row( $(this).parents('tr') )
			        .remove()
			        .draw();
			    });

			    $('#example tbody').on('click', '.edit', function () {
			    	var editButton = $(this);

			        var id = $(this).parent().parent().children().eq(0)[0].innerHTML;
			        console.log($(this).parent().parent().children().eq(0)[0]);
			        var name = $(this).parent().parent().children().eq(1)[0].innerHTML;
			        var mail = $(this).parent().parent().children().eq(2)[0].innerHTML;
			        var company = $(this).parent().parent().children().eq(3)[0].innerHTML;
			        console.log(id);
			    	$("#edit-name").val(name);
			    	$("#edit-company").val(company);
			    	$("#edit-mail").val(mail);
					  $.post("/user/getUserRoles", {"id":id}, function(data){
						  //Clean the select box first
						  $("#edit-role").html("");
						  var options = $.parseJSON(data.data);
						  console.log(options);
						  for(key in roles){
							  console.log(roles);
							  if(options.indexOf(roles[key]) > -1){
						  		$("#edit-role").append("<option selected='selected'>" + roles[key] + "</option>");
							  }
							  else{
								  $("#edit-role").append("<option>" + roles[key] + "</option>");
							  }
						  }
					    	$("#edit-role").select2({tags: true});
				    	});
				    	$("#edit-user-dialog").dialog({
				    		height:480,
				    		  width:640,
				    		  title:"编辑用户",
				    		  buttons: [
				    		            {
				    		              text: "编辑用户",
				    		              icons: {
				    		                primary: "ui-icon-heart"
				    		              },
				    		              click: function() {
				    		    		    	var name = $("#edit-name").val();
				    		    		    	var company = $("#edit-company").val();
				    		    		    	var roles = ""; 
				    		    		    	$('#edit-role :selected').each(function(i, selected){ 
				    		    		    	  roles += $(selected).text() + ","; 
				    		    		    	});
				    		    		    	//var role = $('#edit-role').find(":selected").text();
				    		    		    	var email = $("#edit-mail").val()
				    		    		    	$.post('/user/updateUserByAdmin', {'id': id, 'email': email, 'name': name, 'company':company}, function(data){
				    		    		    		console.log(data);
				    		    		    		if(data.status == "ok"){
				    		    		    			console.log(editButton.parent().parent().children().eq(1)[0].innerHTML);
				    		    		    			editButton.parent().parent().children().eq(1)[0].innerHTML = name;
				    		    		    			editButton.parent().parent().children().eq(2)[0].innerHTML = email;
				    		    		    			editButton.parent().parent().children().eq(3)[0].innerHTML = company;
				    		    		    			
				    		    		    		}
				    		    		    	});
				    		    		    	//Update all user's roles
				    		    		    	$.post("/user/updateUserRoles", {'id':id, 'roles':roles}, function(data){
				    		    		    		console.log(data);
				    		    		    	});
				    		    		    	/*$.post('/user/addUser',{'name':name.val(), 'company':company.val(),'role':role},function(data){
				    		    		    		console.log(data);
				    		    		    	});*/
				    		    		    	//console.log(role);
				    		                $( this ).dialog( "close" );
				    		              }
				    		         
				    		              // Uncommenting the following line would hide the text,
				    		              // resulting in the label being used as a tooltip
				    		              //showText: false
				    		            },{
				    		            	text: "取消",
					    		              icons: {
					    		                primary: "ui-icon-heart"
					    		              },
					    		              click: function() {
					    		                $( this ).dialog( "close" );
					    		              }
				    		            }
				    		          ]
				    		        });
			        
			    } );
			    

			    
		});

    	var optionData = [];

		    $.post("/role/getAllRoles",{},function(data){
		    	if(data.status.message=="nok"){
					if(!invalid){
						alert("您的访问超时，请重新登录！");		
						invalid = true;
						window.location.href="/views/frontviews/index.html";
					}
		    	}
		    	for(var key in data.data){
		    		roles.push(data.data[key]);
		    		optionData.push({"id":key, "text":data.data[key]});
		    	}
		    	console.log(optionData);

		    });



		    
		    
		    $("#add-user-btn").on("click", function(){
		    	$("#add-role").select2({data:optionData});
		    	$("#add-user-dialog").dialog({
		    		  height:480,
		    		  width:640,
		    		  title:"添加用户",
		    		  buttons: [
		    		            {
		    		              text: "添加用户",
		    		              icons: {
		    		                primary: "ui-icon-heart"
		    		              },
		    		              click: function() {
		    		    		    	var name = $("#inputAddName");
		    		    		    	var company = $("#inputAddCompany");
		    		    		    	var roles = $('#add-role').find(":selected");
		    		    		    	var rolesList = [];
		    		    		    	roles.each(function(){
		    		    		    		rolesList.push($(this)[0].innerHTML);
		    		    		    	});
		    		    		    	var roleStr = rolesList.join(",")
		    		    		    	console.log(roleStr);
		    		    		    	$.post('/user/addUser',{'name':name.val(), 'company':company.val(),'role':roleStr},function(data){
		    		    		    		if(data.status == "ok"){
		    		    		    			var uid = data.uid;
		    		    		    			var buttons = "<input type='button' value='激活' class='activate' id='activate-" + uid + 
		    		    		    			"'/><input type='button' value='编辑' class='edit' id='edit-"+ uid +"'/><input type='button' value='删除' class='delete' id='delete-"+ uid +"'/>";
		    		    		    			table.row.add( [uid, name.val(), "", company.val(), 0, 0, "未激活",buttons ] ).draw( false );
		    		    		    		}
		    		    		    	});
		    		                $( this ).dialog( "close" );
		    		              }
		    		         
		    		              // Uncommenting the following line would hide the text,
		    		              // resulting in the label being used as a tooltip
		    		              //showText: false
		    		            },{
		    		            	text: "取消",
			    		              icons: {
			    		                primary: "ui-icon-heart"
			    		              },
			    		              click: function() {
			    		                $( this ).dialog( "close" );
			    		              }
		    		            }
		    		          ]
		    		        });
		    	
		    });
		    
	//	});//get all post ends


	    $('#example tbody tr').on('click', 'td', function () {
	        var data = table.row( this ).data();
	        alert( 'You clicked on '+data[0]+'\'s row' );
	    } );


 
    $('#button').click( function () {
        table.row('.selected').remove().draw( false );
    } );
} );
	</script>

</html>
