<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>用户管理</title>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.11.3.min.js">
	</script>
<link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css?_=5caac04f688d89b2c49bcb280190366b">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/webcss/global.css"/>

</style>
</head>

<body>
<div class="nav">
  <div class="container"> <img src="images/logo-white1.png">
    <ul class="nav-header">
      <li><a href="">发票识别</a></li>
      <li><a  href="">发票审核</a></li>
      <li><a href="">发票管理</a></li>
      <li><a   class="fp"  href="">用户管理</a></li>
    </ul>
  </div>
</div>
<div class="nav-t">
  <div class="container">
    <ul class="nav-l">
      <li><a href="javascript:;" class="bj">添加用户</a></li>
    </ul>
    <ul class="table-l">
      <table id="example" class="display" cellspacing="0" width="100%">

        
      </table>
    </ul>
  </div>
</div>
<div class="tj">
  <h4>添加用户</h4>
  <ul class="tj-l">
    <li><span>用户名</span>
      <input type="text"  value="张丽">
    </li>
    <li><span>公司名称</span>
      <input type="text" value="上海元升财务咨询">
    </li>
    <li><span>用户类型</span>
            <select class="roles" tabindex="" >
      		</select>
    </li>
  <p><a href="">
      <input type="button" value="修改">
      </a></p>
    <p><a href="">
      <input type="button" value="取消">
      </a></p>
  </ul>
</div>
<div class="tian">
  <h4>添加用户</h4>
  <ul class="tj-l">
    <li><span>用户名</span>
      <input id="name" type="text"  value="">
    </li>
    <li><span>公司名称</span>
      <input id="company" type="text" value="">
    </li>
    <li><span>用户类型</span>
      <select id="add-role" class="roles" tabindex="" >
      </select>
    </li>
  <p>
      <input id="add-user" type="button" value="添加">
   </p>
    <p><a href="">
      <input type="button" value="取消">
      </a></p>
  </ul>
</div>
<div class="mask"></div>
<div class="footer">
  <div class="container">
    <p>沪ICP备15012848号 | COPYRIGHT © 2014-2015, BANGBANGZHANG, ALL RIGHTS RESERVED </p>
  </div>
</div>
</body>
<script src="jq/jquery-1.11.3.js"></script>
<script>
$(function(){
$(".bj").click(function(){	
	var brsW=$(window).width();
	var brsH=$(window).height();
	var curW=$(".tian").width();
	var curH=$(".tian").height();
	var left=(brsW-curW)/2;
	var top=(brsH-curH)/2;
	var doH=$(document).height();
	var doW=$(document).width();
	$(".mask").css({"width":doW,"height":doH});
	$(".tian").css({"left":left,"top":top});
	$(".tian").show();
	$(".mask").show();
})
/*var sclL=$(window).scrollLeft();
	var sclT=$(window).scrollTop();*/
	
})

</script>
<script>


</script>
<script>
function deleteRow(elem) {
    var tableObj = document.getElementById("example");
	var tr=elem.parentNode.parentNode;	
	tr.parentNode.removeChild(tr);
    
  }
</script>
<script>

	
	$(document).ready(function() {
		var dataSet = [];
		$.post('/user/getAllUsersWithWorkRecords', {},function(data){
			var dataSet  = $.parseJSON(data.data);
		    var table = $('#example').DataTable({"sDom": '<"top" f>rt<"bottom" p><"clear">',
		    	data: dataSet,	
		    	columns: [
		    	          	{title: "员工号"},
		    	            { title: "姓名" },
		    	            { title: "公司" },
		    	            { title: "识别数" },
		    	            { title: "审核数." },
		    	            { title: "" },

		    	        ]
		    });
		    
		    $.post("/role/getAllRoles",{},function(data){
		    	console.log(data);
		    	var options = $.parseJSON(data.data);

		    	$.each(options[0], function( key, value) { 
		    		console.log(key);
		    		console.log(value);
		    	     $('.roles')
		    	          .append($('<option>', { key: value })
		    	          .text(value)); 

		    	});
		    });

		    $("#add-user").on("click", function(){
		    	var name = $("#name");
		    	var company = $("#company");
		    	var role = $('#add-role').find(":selected").text();
		    	
		    	$.post('/user/addUser',{'name':name.val(), 'company':company.val(),'role':role},function(data){
		    		console.log(data);
		    	});
		    	console.log(role);
		    });
			$(".edit").click(function(){	
				console.log("click edit");
				var brsW=$(window).width();
				var brsH=$(window).height();
				var curW=$(".tj").width();
				var curH=$(".tj").height();
				var left=(brsW-curW)/2;
				var top=(brsH-curH)/2;
				var doH=$(document).height();
				var doW=$(document).width();
				$(".mask").css({"width":doW,"height":doH});
				$(".tj").css({"left":left,"top":top});
				$(".tj").show();
				$(".mask").show();
			});
		});



    $('#example tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );
 
    $('#button').click( function () {
        table.row('.selected').remove().draw( false );
    } );
} );
	</script>

</html>
