
<!DOCTYPE html>
<html lang="en">
 <head>
<meta charset="utf-8">
<title>角色管理</title>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.11.3.min.js">
	</script>
<link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css?_=5caac04f688d89b2c49bcb280190366b">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/webcss/global.css"/>

</head>

  <body>

<div class="nav">
  <div class="container"> <img src="images/logo-white1.png">
    <ul class="nav-header">
      <li><a href="">发票识别</a></li>
      <li><a  href="">发票审核</a></li>
      <li><a href="">发票管理</a></li>
      <li><a   class="fp"  href="">用户管理</a></li>
    </ul>
  </div>
</div>

    <div class="container-fluid">
      <div class="row">


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<div id="add-role-form">
				<input id='name' type='textfield' placeholder='角色名'></input>
				<input type='button' id='add-role' value='添加'></input>
				<input type='button' id='delete-role' value='删除'></input>
				<input type='textfield' id='new-name' placeholder='新名称'></input>
				<input type='button' id='modify-role' value='修改'></input>
			</div>

          <h2 class="sub-header">Section title</h2>
          <table id="roles" class="display" cellspacing="0" width="100%"></table>
        </div>
      </div>
    </div>


    <script>
    	$("#add-role").click(function(){
    		var name = $("#name");
    		$.post('/role/addRole', {'name':name.val(), 'permissions':[]}, function(data){
    			console.log(data);
    		});
    	});
    	
    	$("#delete-role").click(function(){
    		var name = $("#name");
    		$.post('/role/deleteRole', {'name':name.val()}, function(data){
    			console.log(data);
    		})
    	});
    	
    	$("#modify-role").click(function(){
    		var oldName = $("#name");
    		var newName = $("#new-name");
    		$.post('/role/updateRole', {'oldName':oldName.val(), 'newName':newName.val()}, function(data){
    			console.log(data);
    		});
    	});
    	
    	$.post("/role/getAllRoles", {}, function(data){
    		var roles = $.parseJSON(data.data);
    		var dataSet = new Array();
    		for(key in roles[0]){
    			console.log(key);
    			var temp = new Array();
    			temp.push(roles[0][key]);
    			temp.push("<span>编辑</span>");
    			dataSet.push(temp);
    		}
    		console.log(dataSet);

    		var table = $('#roles').DataTable({
    			"sDom": '<"top" f>rt<"bottom" p><"clear">',
		    	data: dataSet,	
		    	columns: [
		    	          	{title: "角色名"},
		    	            { title: "" }

		    	        ]
		    });
    		console.log(roles);
    	});
    </script>
  </body>
</html>
