<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<settings>
<setting name="cacheEnabled" value="false"/>
</settings>
  <typeAliases>

    <typeAlias alias="User" type ="com.wisdom.common.model.User" />
    <typeAlias alias="Permission" type="com.wisdom.common.model.Permission" />
        <typeAlias alias="Invoice" type="com.wisdom.common.model.Invoice" />
        <typeAlias alias="Role" type="com.wisdom.common.model.Role" />
        <typeAlias alias="UserRole" type="com.wisdom.common.model.UserRole" />
        <typeAlias alias="UserRecord" type="com.wisdom.common.model.UserRecord" />
        <typeAlias alias="record" type="com.wisdom.common.model.Record" />
        <typeAlias alias="RolePermissions" type="com.wisdom.common.model.RolePermissions" />
        <typeAlias alias="Symbol" type="com.wisdom.common.model.Symbol" />
        <typeAlias alias="Phrase" type="com.wisdom.common.model.Phrase" />
		<typeAlias alias="Candidate" type="com.wisdom.common.model.Candidate" />
		<typeAlias alias="Artifact" type="com.wisdom.common.model.Artifact" />

  </typeAliases>
  <mappers>

    <mapper resource="com/wisdom/common/mapper/UserMapper.xml"/>
    <mapper resource="com/wisdom/common/mapper/PermissionMapper.xml" />
    <mapper resource="com/wisdom/common/mapper/InvoiceMapper.xml" />
    <mapper resource="com/wisdom/common/mapper/RoleMapper.xml" />
    <mapper resource="com/wisdom/common/mapper/RecordMapper.xml" />
    <mapper resource="com/wisdom/common/mapper/SymbolMapper.xml" />
    <mapper resource="com/wisdom/common/mapper/PhraseMapper.xml" />
    <mapper resource="com/wisdom/common/mapper/CandidateMapper.xml" />
    <mapper resource="com/wisdom/common/mapper/ArtifactMapper.xml" />

  </mappers>

</configuration>